# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDE / editor settings
.vscode/
.idea/
